a{
    text-decoration: none !important;
}

.sl a{
    color: white;
}

ul{
    list-style-type: none;
}
.input-group{
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "a b c"
                        "d d d"
                            
}
.ms{
    grid-area: a;
}
.input-group{
    grid-area: b;
}
#list{
    background-color: rgba(0,0,0,.05);
}
.droplist{
    grid-area: d;
    font-family: "montserrat";
    font-size: 3vw;
    padding: 2%;

}
#close{
    color: #fe7a55;
    float: right;
    margin-right: 2vw;
}
.recent, .popular{
    display: flex;
    flex-wrap: wrap;
    font-size: 3vw;
}
.re, .po, .ho{
    color: #fe7a55;
    font-size: 3.5vw;
    margin-top: 3%;
    margin-left: 5%;
}
.ingli{
    margin-top: 2%;
    background-color: rgba(225,153,0,0.2);
    color: #ff9900;
    padding: 2%;
    margin-right: 3%;
}
.user{
    grid-area: c;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    font-family:'Montserrat';
}
.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: .5vh outset black;
    padding: 1.5% 1% 1%;
    margin-top: -5%;
    background-color: #fe7a55;
}
.ftext{
    font-family:'Montserrat';
    font-size: 4vw;
    text-decoration: none;
    width: 30vw;
    text-align: center;
    transition: all .2s ease;
    color: black;
}

.ftext:hover{
    background-color: #fe7a55;
    color: white;
}
#right{
    border-left: solid .4vw black;
}
.des{
    margin: 3% 0%;
    font-family:'Montserrat';
}
.result, .location{
    margin-left: 3%;
}
.result{
    margin-bottom; 0;
    font-size: 4vw;
    margin-bottom: 0%;
}
.ingre, .nei{
    font-size: 4.5vw;
}
.nei{
    color: #fe7a55 !important;
}
.location{
    margin-top: 0;
    font-size: 4.5vw;
}
.des{
    border-bottom: #ffd633 solid 1px;
    margin-bottom: 0;
}
.market{
    list-style-type: none;
    margin-left: -11%;
}
.market>li{
    margin:0;
    padding: 2% 4% 2% 0;
    border-bottom: 1px solid #ffd633;
    vertical-align: baseline;
}
.wf{
    display: grid;
    grid-template-columns:4fr 1.5fr 1fr;
    grid-template-areas: "a c b";
    flex-direction: column;
    font-family: "Montserrat";
    margin-left: 7%;

}
.plus{
    grid-area: c;
}
.store{
    font-family: "Coustard";
    font-size: 4vw;
}
.one{
    grid-area: a;
    font-size: 2.5vw;
}
.plus{
    margin-left: 15%;
}
.add{
    margin-top: 5%;
}
.two{
    grid-area: b;
    text-align: right;
    font-size: 3.5vw;
}
.dis{
    font-size: 4.5vw;
}
.num{
    display: block;
}
.time span{
    color: green;
}
.price{
    margin-top: 30%;
}
.second{
    margin-top: 10%;
}
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fe7a55;
}
.sl, .mr, .set, .sl1{
    color: white;
    font-size: 4vw;
}
.sl1{
    position: absolute;
    align-items: center;
    top: 20%;

}

.blankspace{
    height: 5vh;
}




