a{
    text-decoration: none !important;
}

ul{
    list-style-type: none;
}
.input-group{
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "a b c"
}
.ms{
    grid-area: a;
}
.input-group{
    grid-area: b;
}
.drop-list{
    margin-left: -20%;
}
.ingli{
    margin-left:10%;
}
.user{
    grid-area: c;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    font-family:'Montserrat';
}
.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: .5vh outset black;
    padding: 1.5% 1% 1%;
    margin-top: -5%;
    background-color: #fe7a55;
}
.ftext{
    font-family:'Montserrat';
    font-size: 4vw;
    text-decoration: none;
    width: 30vw;
    text-align: center;
    transition: all .2s ease;
    color: black
}

.ftext:hover{
    background-color: #fe7a55;
    color: white;
}
#right{
    border-left: solid .4vw black;
}
.des{
    margin-top: 3%;
    margin-left: 3%;
    font-family:'Montserrat';
}
.result{
    margin-bottom; 0;
    font-size: 4vw;
    margin-bottom: 0%;
}
.ingre, .nei{
    font-size: 4.5vw;
}
.nei{
    color: #fe7a55 !important;
}
.location{
    margin-top: 0;
    font-size: 4.5vw;
    margin-bottom: black solid 2px;
}
.market {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}

.market > li {
  position: relative;
  margin-bottom: 1.5em;
}

.market > li:before {
	position: absolute;
	left: -3em;
/*    display: inline-block;*/
    width: 3vh;
	height: 3vh;
  background-color: #fe7a55;
	border-radius: 50%;
	color: #fff;
	text-align:center;
  line-height: 1.25em;
	counter-increment: line;
	content: counter(line);
}
